.qubely-block-pricelist {
    .qubely-pricelist-items {
        display: grid;
    }
    .qubely-pricelist-item {
        position: relative;
        &:hover {
          .qubely-repeatable-action-remove {
            display: block;
          }
        }
        //digit
        .qubely-pricelist-digit {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.qubely-pricelist-item-1 {
        .qubely-repeatable-action-remove {
            top: -10px;
            right: -10px;
        } 
    }
    &:not(.qubely-pricelist-item-3) .qubely-pricelist-image-container {
        position: relative;
    }
    .qubely-pricelist-image-container {
        .qubely-pricelist-badge {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 3;
        }
        .qubely-empty-image {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f5f5;
            border: 2px dashed #e5e5e5;
            padding: 30px;
            border-radius: 5px;
            min-height: 100px;
        }
        .qubely-insert-image {
            text-align: center;
            display: inline-block;
            color: #2184F9;
            text-decoration: none;
            line-height: 1;
            position: relative;
            z-index: 3;
            // background: #fff;
            // border-radius: 4px;
            // padding: 10px;
            span {
                margin-top: 0px;
                display: block;
                font-size: 14px;
            }
        }
        // .qubely-pricelist-content-image {
        //     .editor-rich-text {
        //         position: absolute;
        //         left: 15px;
        //         top: 15px;
        //         z-index: 3;
        //     }
        // }
        .qubely-pricelist-content-image-editor {
            position: relative;
            display: inline-block;
            .qubely-media-actions {
                bottom: 10px;
                right: 10px;
                position: absolute;
                z-index: 4;
            }
        }
    }
    .qubely-pricelist-line {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -moz-box-flex: 1;
        flex-grow: 1;
        margin: 0 20px;
    }
    .qubely-pricelist-title-wrapper {
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -moz-box-align: center;
        align-items: center;
    }
    .qubely-pricelist-item-left {
        .qubely-pricelist-title-wrapper {
            > div:first-child,
            .qubely-pricelist-title {
                margin-right: auto;
            }
        }
    }
    .qubely-pricelist-item-right {
        .qubely-pricelist-content {
            flex-direction: row-reverse;
        }
        .qubely-pricelist-title-wrapper {
            flex-direction: row-reverse;
        }
        .qubely-pricelist-price-wrapper {
            margin-left: auto;
        }
    }
    .qubely-pricelist-item-center {
        .qubely-pricelist-title-wrapper {
            justify-content: center;
        }
        .qubely-pricelist-title-wrapper {
            > div {
                margin: 0 30px;
            }
        }
    }

    .qubely-pricelist-price-wrapper {
        > div {
            display: inline-block;
        }
        .qubely-pricelist-discount {
            text-decoration: line-through;
            margin-right: 10px;
        }
    }
    .qubely-pricelist-description-wrapper {
        flex: 1;
        align-self: center;
        .qubely-pricelist-description {
            width: 100%;
        }
    }
    .qubely-pricelist-content {
        overflow: hidden;
    }
    &.qubely-pricelist-item-3 {
        .qubely-pricelist-image-container {
            width: 100%;
            height: 100%;
            &:before {
                content: "";
                left: 0;
                top: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.7);
                z-index: 1;
                width: 100%;
                height: 100%;
                transition: ease-in 300ms;
            }
            img {
                position: absolute;
                width: auto;
                height: auto;
                min-width: 100%;
                max-width: none;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-height: 100%;
            }
        }
        .qubely-pricelist-content {
            position: relative;
            height: 150px;
            .qubely-pricelist-description-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                align-content: center;
                z-index: 2;
            }
        }
        .qubely-pricelist-image-container .qubely-pricelist-content-image-editor {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;

        }
    }
    .qubely-pricelist-item-center {
        .qubely-pricelist-image-container {
            margin-left: auto;
            margin-right: auto;
        }
        .qubely-pricelist-description-wrapper {
            text-align: center;
            .qubely-pricelist-price-wrapper {
                display: inline-block;
            }
        }
    }
    .qubely-pricelist-item-right {
        .qubely-pricelist-description-wrapper {
            text-align: right;
        }
        .qubely-pricelist-image-container {
            margin-left: auto;
        }
    }
}

