.qubely-block-team-carousel {
  transition: all 400ms;
  .editor-rich-text {
    .editor-rich-text__tinymce {
      line-height: inherit;
    }
  }

  .qubely-team-quote {
    .qubely-quote-icon {
      line-height: 1;
      width: auto;
      height: auto;
    }

    &.qubely-position-bottom {
      .qubely-quote-icon {
        transform: scaleY(-1);
      }
    }
  }
  .qubely-single-img.qubely-backend .qubely-team-avatar{
    cursor: pointer;
  }
  .qubely-team-avatar {
    &.qubely-image-placeholder i {
      font-size: 50px;
      padding: 26px;
      background: #fafafa
    }
  }
  .qubely-image-placeholder {
    width: 100%;
    height: 230px;
}
  .qubely-single-img {
    text-align: center;
  }
  .qubely-team-author .qubely-single-img .qubely-team-avatar {
      text-align: center;
  }

  .qubely-team-avatar-layout-left,
  .qubely-team-avatar-layout-right {
    display: inline-flex;
    align-items: center;
    .qubely-team-author-info {
      text-align: left;
    }
  }

  .qubely-team-avatar-layout-right {
    .qubely-team-author-info {
      text-align: right;
    }
  }

  
  .qubely-team-ratings {
    unicode-bidi: bidi-override;
    display: inline-block;
    position: relative;
    letter-spacing: 5px;
    &:before,
    &:after {
      content: "\f005\f005\f005\f005\f005";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 400;
      display: block;
      white-space: nowrap;
    }

    &:before {
      position: absolute;
      z-index: 1;
      left: 0px;
      overflow: hidden;
      font-family: "Font Awesome\ 5 Free";
      font-weight: 900;
      content: "\f005\f005\f005\f005\f005";
    }
    &:after {
      z-index: 0;
    }
    &[data-qubelyrating="1"]:before {
      width: 20%;
    }
    &[data-qubelyrating="1.5"]:before {
      width: 29%;
    }
    &[data-qubelyrating="2"]:before {
      width: 40%;
    }
    &[data-qubelyrating="2.5"]:before {
      width: 49%;
    }
    &[data-qubelyrating="3"]:before {
      width: 60%;
    }
    &[data-qubelyrating="3.5"]:before {
      width: 69%;
    }
    &[data-qubelyrating="4"]:before {
      width: 80%;
    }
    &[data-qubelyrating="4.5"]:before {
      width: 89%;
    }
    &[data-qubelyrating="5"]:before {
      width: 100%;
    }
  }
  .qubely-team-carousel-arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #d6d9dd;
  }
}

$border_color_1: #f4f4f4 transparent transparent transparent;

.qubely-team-carousel-content-wrapper {
	position: relative;
	position: relative;
}
.layout-3 {
	.qubely-team-carousel-content-wrapper {
		padding: 20px;
		border-radius: 10px;
		background: #f4f4f4;
		&:before {
			content: " ";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			transform: translate(-50%, 50%);
			border-width: 15px;
			z-index: 1;
			border-color: $border_color_1;
			left: 50%;
			bottom: -15px;
		}
	}
	.qubely-team-author {
		margin-top: 40px;
		text-align: center;
	}
	.qubely-team-avatar {
		margin-right: 0px;
	}
	.qubely-team-avatar-layout-left {
		.qubely-team-author-info {
			text-align: center;
		}
	}
}
.layout-1 {
	.qubely-team-avatar {
		margin-right: 20px;
	}
}
.layout-2 {
	.qubely-team-avatar {
		margin-right: 20px;
	}
}

		.qubely-carousel.qubely-carousel-wrapper {
			-ms-touch-action: pan-y;
			touch-action: pan-y;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			position: relative;
		}
	

.qubely-carousel.qubely-carousel-wrapper {
	.qubely-carousel-extended-list {
		position: relative;
		overflow: hidden;
	}
	.js-indicator {
		position: absolute;
		z-index: 9;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		transform-style: preserve-3d;
		transition-property: transform, -webkit-transform, width;
		-webkit-transition-property: transform, -webkit-transform, width;
		transition-timing-function: linear;
		-webkit-transition-timing-function: linear;
	}
	.qubely-carousel-item {
		position: relative;
		float: left;
		overflow: hidden;
	}
	.qubely-carousel-item.active {
		visibility: visible;
		transform-style: preserve-3d;
	}
	.qubely-carousel-item.dragenable {
		visibility: visible;
		transform-style: preserve-3d;
	}
	.qubely-carousel-item.prev-item {
		z-index: 1;
		visibility: visible;
	}
	.qubely-carousel-dots {
		height: 50px;
		width: 100%;
		margin-top: 5px;
		z-index: 3;
		margin-top: 0;
		height: 50px;
		width: 100%;
		bottom: -40px;
		z-index: 3;
		left: 50%;
		transform: translateX(-50%);
		ul {
			li.active {
				span.dot-indicator {
					width: 100%;
					height: 100%;
				}
				width: 55px;
			}
			margin: 15px;
			padding: 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				height: 4px;
				width: 30px;
				margin: 5px;
				border: 0;
				background: #f4f4f4;
				border-radius: 2px;
				cursor: pointer;
				position: relative;
				.dot-indicator {
					position: absolute;
					-webkit-perspective: 1000px;
					perspective: 1000px;
					transform-style: preserve-3d;
					transition-property: transform, -webkit-transform, width;
					-webkit-transition-property: transform, -webkit-transform, width;
					transition-timing-function: linear;
					-webkit-transition-timing-function: linear;
					width: 0;
					left: 0;
					top: 0;
					height: 4px;
					border-radius: 2px;
				}
				.dot-indicator.active {
					background: #2084f9;
					width: 100%;
					top: 0;
					border-radius: 2px;
				}
			}
		}
	}
	.qubely-carousel-nav-control {
		height: 50px;
		width: 100%;
		margin-top: 0px;
		z-index: 3;
		position: absolute;
		top: 50%;
		.nav-control {
			display: inline-block;
			padding: 10px;
			border: 1px solid #e2e2e2;
			position: absolute;
			cursor: pointer;
			text-align: center;
			bottom: 49%;
			background: rgba(255, 255, 255, 0.4);
			transition: .3s;
			&:hover {
				border: 1px solid #1066cc;
			}
		}
		.next-control.nav-control.buttom {
			bottom: 0;
		}
		.prev-control.nav-control.buttom {
			bottom: 0;
		}
		.nav-control.next-control {
			right: 0;
		}
		.nav-control.prev-control {
			left: 0;
		}
	}
}
.qubely-carousel-extended-outer-stage {
	position: relative;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	position: relative;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	display: flex;
}
.qubely-carousel-nav-control {
	.nav-control {
		.dashicons {
			display: flex;
			width: 100%;
			height: 100%;
			text-align: center;
		}
	}
}
.qubely-carousel {
	.qubely-carousel-extended-dots {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		height: 20px;
		width: 100%;
		margin-top: 5px;
		z-index: 3;
		ul {
			margin: -4px;
			padding: 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				height: 4px;
				width: 30px;
				margin: 5px;
				border: 0;
				background: rgba(218, 92, 92, 0.4);
				border-radius: 2px;
				cursor: pointer;
				position: relative;
				.qubely-carousel-extended-dot-indicator {
					position: absolute;
					-webkit-perspective: 1000px;
					perspective: 1000px;
					transform-style: preserve-3d;
					transition-property: transform, -webkit-transform, width;
					-webkit-transition-property: transform, -webkit-transform, width;
					transition-timing-function: linear;
					-webkit-transition-timing-function: linear;
					width: 0;
					left: 0;
					top: 0;
					height: 4px;
					border-radius: 2px;
				}
				.qubely-carousel-extended-dot-indicator.active {
					background: #ffffff;
					width: 100%;
					top: 0;
					border-radius: 2px;
				}
			}
			li.active {
				width: 80px;
			}
		}
	}
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.qubely-carousel-extended-list {
		position: relative;
		overflow: hidden;
	}
	.js-indicator {
		position: absolute;
		z-index: 9;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		transform-style: preserve-3d;
		transition-property: transform, -webkit-transform, width;
		-webkit-transition-property: transform, -webkit-transform, width;
		transition-timing-function: linear;
		-webkit-transition-timing-function: linear;
	}
	.qubely-carousel-item {
		position: relative;
		float: left;
	}
	.qubely-carousel-item.active {
		visibility: visible;
		transform-style: preserve-3d;
	}
	.qubely-carousel-item.dragenable {
		visibility: visible;
		transform-style: preserve-3d;
	}
	.qubely-carousel-item.prev-item {
		z-index: 1;
		visibility: visible;
	}
	.qubely-carousel-extended-nav-control {
		position: relative;
		height: 20px;
		width: 100%;
		margin-top: 5px;
		z-index: 3;
		.nav-control {
			display: inline-block;
			height: 40px;
			width: 40px;
			padding: 10px;
			border: 1px solid #ababab;
			position: absolute;
			cursor: pointer;
			text-align: center;
			bottom: 100px;
			background: rgba(255, 255, 255, 0.4);
		}
		.nav-control.next-control {
			right: 0;
		}
		.nav-control.prev-control {
			left: 0;
		}
	}
}
.qubely-tesitmonial-item.layout-3 {
	.qubely-team-avatar {
		margin-right: 0;
	}
}


.qubely-carousel.qubely-carousel-wrapper.is-faded{
  .qubely-carousel-extended-list .qubely-carousel-extended-outer-stage{
    .qubely-carousel-item:not(.active){
      opacity: 0.1;
    }
  }
}
$color_1: #fff;
.qubely-team-1 {
	.qubely-team-author-info {
		width: 100%;
		padding: 30px;
	}
	.qubely-single-img {
		img.qubely-team-avatar {
			transition: .3s;
		}
	}
	&:hover {
		.qubely-image-placeholder {
			transform: scale(1.1);
		}
		.qubely-single-img {
			img.qubely-team-avatar {
				transform: scale(1.1);
			}
		}
	}
}
.qubely-team-2 {
	position: relative;
	.qubely-team-author-info {
		background: rgba(0, 0, 0, 0.65);
		position: absolute;
		line-height: 30px;
		transition: .3s;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 1;
		top: 0;
		color: $color_1;
		transform: translate(0%, 0%);
		width: 100%;
		padding: 70px;
	}
	&:hover {
		.qubely-team-author-info {
			opacity: 1;
		}
	}
}
.qubely-team-carousel-item {
	.qubely-single-img {
		line-height: 0;
	}
	overflow: hidden;
}
.qubely-team-3 {
	.qubely-single-img {
		width: calc(30% - 15px);
		float: left;
		display: inline-block;
		margin-right: 15px;
	}
	.qubely-team-author {
		display: inline-block;
		width: 100%;
	}
	.qubely-team-author-info {
		transform: translate(0px, 20%);
		display: initial;
	}
	overflow: hidden;
}
.qubely-block-team-carousel {
	.qubely-team-3 {
		.qubely-image-placeholder {
			height: 100%;
		}
	}
	.qubely-image-placeholder {
		width: 100%;
		height: 230px;
		transform: scale(1);
		transition: .3s;
	}
}
.qubely-team-author-info {
	width: 70%;
	display: inline-block;
}
.qubely-carousel-item {
	height: fit-content;
}
.editor-styles-wrapper {
	.qubely-team-2 {
		line-height: 0;
	}
}
.qubely-single-img {
	overflow: hidden;
}
.qubely-team-social-links {
  font-size: 0;
  a {
      display: inline-block;
      text-decoration: none !important;
      transition: color 300ms, background-color 300ms;
  }

  &.qubely-team-icon-layout-fill {
      a {
          padding: 10px;
          i {
              width: 1em;
              height: 1em;
              display: block;
              text-align: center;
          }
      }
  }

  &.qubely-team-icon-style-default {
      &.qubely-team-icon-layout-normal {
          .qubely-team-social-facebook {
              color: #3b5998;
              &:hover {
                  color: #2f477c;
              }
          }
          .qubely-team-social-twitter {
              color: #1da1f2;
              &:hover {
                  color: #1a93df;
              }
          }
          .qubely-team-social-instagram {
              color: #e1306c;
              &:hover {
                  color: #c0275a;
              }
          }
          .qubely-team-social-linkedin {
              color: #0077b5;
              &:hover {
                  color: #005f92;
              }
          }
          .qubely-team-social-youtube {
              color: #ff0000;
              &:hover {
                  color: #e40000;
              }
          }
          .qubely-team-social-github {
              color: #333;
              &:hover {
                  color: rgb(24, 24, 24);
              }
          }
          .qubely-team-social-flickr {
              color: #ff0084;
              &:hover {
                  color: #e60077;
              }
          }
          .qubely-team-social-pinterest {
              color: #bd081c;
              &:hover {
                  color: #9c0718;
              }
          }
          .qubely-team-social-dribbble {
              color: #ea4c89;
              &:hover {
                  color: #d3437a;
              }
          }
          .qubely-team-social-behance {
              color: #1769ff;
              &:hover {
                  color: #135add;
              }
          }
      }

      &.qubely-team-icon-layout-fill {
          a {
              color: #fff;
              &:hover {
                  color: #fff;
              }
          }
          .qubely-team-social-facebook {
              background-color: #3b5998;
              &:hover {
                  background-color: #2f477c;
              }
          }
          .qubely-team-social-twitter {
              background-color: #1da1f2;
              &:hover {
                  background-color: #1a93df;
              }
          }
          .qubely-team-social-instagram {
              background-color: #e1306c;
              &:hover {
                  background-color: #c0275a;
              }
          }
          .qubely-team-social-linkedin {
              background-color: #0077b5;
              &:hover {
                  background-color: #005f92;
              }
          }
          .qubely-team-social-youtube {
              background-color: #ff0000;
              &:hover {
                  background-color: #e40000;
              }
          }
          .qubely-team-social-github {
              background-color: #333;
              &:hover {
                  background-color: rgb(24, 24, 24);
              }
          }
          .qubely-team-social-flickr {
              background-color: #ff0084;
              &:hover {
                  background-color: #e60077;
              }
          }
          .qubely-team-social-pinterest {
              background-color: #bd081c;
              &:hover {
                  background-color: #9c0718;
              }
          }
          .qubely-team-social-dribbble {
              background-color: #ea4c89;
              &:hover {
                  background-color: #d3437a;
              }
          }
          .qubely-team-social-behance {
              background-color: #1769ff;
              &:hover {
                  background-color: #135add;
              }
          }
      }
  }
}


.social-share {
	.qubely-team-social-links {
		a {
			margin-bottom: 8px;
			display: inline-block;
		}
	}
}
.qubely-team-2 {
	.qubely-team-author-info {
		.layout-2 {
			transition: .3s;
			transform: translate(50%,-20%);
			position: absolute;
			width: 100%;
			left: -50%;
			top: 50%;
		}
	}
	&:hover {
		.qubely-team-author-info {
			.layout-2 {
				-webkit-transform: translate(50%,50%);
				transform: translate(50%,-50%);
				position: absolute;
				width: 100%;
				left: -50%;
				top: 50%;
			}
		}
	}
}
.qubely-block-team-carousel {
	.qubely-carousel-extended-outer-stage {
		padding: 24px 4px 10px;
	}
}
.qubely-carousel {
	.qubely-carousel-extended-list {
		.qubely-carousel-item {
			transition: .3s;
		}
	}
}
.qubely-carousel.qubely-carousel-wrapper {
	.qubely-carousel-item.active {
		margin-left: 0px;
	}
}
h2.qubely-heading-selector {
	&:before {
		display: none;
	}
}
