.qubely-block-mediacard {
    position: relative;
    transition: border-color 400ms, background-color 400ms, box-shadow 400ms;
    &.qubely-mediacard-layout-3,
    &.qubely-mediacard-layout-6,
    &.qubely-mediacard-layout-7 {
        position: relative;
        overflow: hidden;
        .qubely-block-mediacard-wrapper {
            display: flex;
            z-index: 10;
            overflow: hidden;
            padding: 20px;
        }
    }
    &.qubely-mediacard-layout-3,
    &.qubely-mediacard-layout-6 {
        .qubely-block-mediacard-wrapper {
            flex-wrap: wrap;
        }
    }
    .qubely-mediacard-layout-3{
        .qubely-block-mediacard-wrapper {
            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 3;
                transition: 400ms;
                background-image: none;
                transition: 400ms;
            }
        }
    }
    // &.qubely-mediacard-layout-6,
    // &.qubely-mediacard-layout-7 {
    //     position: relative;
    //     overflow: hidden;
    //     .qubely-block-mediacard-wrapper {
    //         .qubely-mediacard-content-wrapper {
    //             top: 0;
    //             height: 100%;
    //             position: absolute;
    //             display: grid;
    //             align-content: flex-end;
    //             opacity: 1;
    //             z-index: 10;
    //             overflow: hidden;
    //             width: 100%;
    //             max-width: 100%;
    //             padding: 20px;
    //         }
    //     }
    // }

  &.qubely-mediacard-layout-4 .qubely-block-mediacard-wrapper {
    .qubely-mediacard-media_wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
    .qubely-mediacard-content-wrapper {
      margin: -80px auto 0;
      width: 90%;
      background: #fff;
      position: relative;
      z-index: 1;
      padding: 20px;
    }
  }
  &.qubely-mediacard-layout-5 {
    position: relative;
    .qubely-block-mediacard-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
      .qubely-mediacard-media_wrapper {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
      }
      .qubely-mediacard-content-wrapper {
        margin-left: -40px;
        background: #fff;
        padding: 20px;
        position: relative;
        z-index: 1;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
      }
    }
  }
  .qubely-mediacard-media_wrapper {
    display: inline-block;
    line-height: 1;
  }
}

//editor
.qubely-mediacard-innerBlocks .block-list-appender {
    margin-top: 30px;
    .block-editor-button-block-appender {
        outline: 1px dashed #2184f9;
        background: none;
    }
}
.qubely-mediacard-layout-1,
.qubely-mediacard-layout-2 {
    .qubely-mediacard-innerBlocks .block-list-appender {
        margin: 15px;
    }
}

.editor-styles-wrapper .qubely-mediacard-innerBlocks [data-block] {
    margin-top: 0;
    margin-bottom: 0;
}
.qubely-mediacard-innerBlocks .block-list-appender>.block-editor-inserter {
    margin-top: 30px;
}

// .block-editor-block-list__block .qubely-mediacard-innerBlocks .block-editor-block-contextual-toolbar {
//     margin-left: 0;
//     margin-right: 0;
// }
// .block-editor-block-list__block .qubely-mediacard-innerBlocks .block-editor-block-list__layout {
//     margin-left: 0;
//     margin-right: 0;
// }