.qubely-form-field-wrapper,
.qubely-form-field {
  .qubely-form-date-picker{
    width: fit-content;
  }
  width: 100%;
  .qubely-form-field-radio-option,
  .qubely-form-field-checkbox-option {
    display: flex;
    align-items: center;
    &:hover {
      .qubely-action-remove-option {
        display: block;
      }
    }
    .qubely-action-remove-option {
      display: none;
      font-size: 12px;
      width: 18px;
      height: 18px;
      line-height: 20px;
      text-align: center;
      background: rgba(0, 0, 0, .8);
      color: #fff; 
      margin-left: 10px;
      border-radius: 10px;
      z-index: 1;
      cursor: pointer;
    }
  }

  .qubely-action-add-option {
    color: #2184f9;
    cursor: pointer;
    .qubely-option-add-icon {
      margin-right: 5px;
      -webkit-text-stroke: 2px white;
    }
    .qubely-action-add-text {
      color: #2184f9;
    }
  }
}

.qubely-dropdown-field-option,
.qubely-dropdown-add-field-option {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  .qubely-option-move-icon {
    cursor: pointer;
    padding: 0px 10px;
  }
  > div {
    width: 80%;
    .qubely-option {
      cursor: text;
      border: 1px solid #d6d6d6;
      padding: 6px 8px;
      box-shadow: none;
    }
  }

  .qubely-action-add-option {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}

.qubely-dropdown-add-field-option {
  .qubely-option-move-icon > i {
    font-size: 15px;
  }
}
