.qubely-form-field-wrapper,
.qubely-form-field {
  .qubely-form-date-picker{
    width: fit-content;
  }
  width: 100%;
  .qubely-form-field-radio-option,
  .qubely-form-field-checkbox-option {
    display: flex;
    align-items: center;
    &:hover {
      .qubely-action-remove-option {
        display: block;
      }
    }
    .qubely-action-remove-option {
      display: none;
      font-size: 12px;
      width: 18px;
      height: 18px;
      line-height: 20px;
      text-align: center;
      background: rgba(0, 0, 0, .8);
      color: #fff; 
      margin-left: 10px;
      border-radius: 10px;
      z-index: 1;
      cursor: pointer;
    }
  }

  .qubely-action-add-option {
    color: #2184f9;
    cursor: pointer;
    .qubely-option-add-icon {
      margin-right: 5px;
      -webkit-text-stroke: 2px white;
    }
    .qubely-action-add-text {
      color: #2184f9;
    }
  }
}

.qubely-dropdown-field-option,
.qubely-dropdown-add-field-option {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  .qubely-option-move-icon {
    cursor: pointer;
    padding: 0px 10px;
  }
  > div {
    width: 80%;
    .qubely-option {
      cursor: text;
      border: 1px solid #d6d6d6;
      padding: 6px 8px;
      box-shadow: none;
    }
  }

  .qubely-action-add-option {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}

.qubely-dropdown-add-field-option {
  .qubely-option-move-icon > i {
    font-size: 15px;
  }
}


  #ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909C;
  }
  .ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
  }
  .ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546E7A;
    font-size: 0.875rem;
    text-decoration: none;
  }
  .ui-datepicker-calendar tbody td a:hover {	
    background-color: #E0F2F1;
  }
  .ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #009688;
    color: white;
  }
  .ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
  }
  .ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
  }
  .ui-datepicker-header a.ui-datepicker-prev {	
    left: 0;	
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
  }
  .ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
  }
  .ui-datepicker-header a>span {
    display: none;
  }
  .ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
  }
  .ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem;
  }

  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
    table td, table th {
      border: none;
      word-break: break-all;
  }
  }




  body {
    margin: 0px;
    padding-top: 100px;
    height: 100vh;
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(3,169,244,1) 100%);
    font-family: helvetica, arial;
  }
  
  body * {
    box-sizing: border-box;
  }
  
  .time {
    width: 50%;
    min-width: 200px;
    margin: 25px auto;
    
    &__heading {
      text-align: center;
      color: #fff;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, .2);
    }
    
    &__input {
      width: 100%;
      
      .timepicker {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        font-weight: 300;
        text-align: center;
        border: solid 2px #303233;
        color: #303233;
        outline: none;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, .1);
      }
    }
  }
  
  // Start Timepicker CSS
  
  div[id^="tp_"].timepicker__wrapper {
    opacity: 0;
    height: auto;
    min-width: 150px;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    transition: max-height .1s ease-in-out;
    background: #F4F5F7;
    background: linear-gradient(to bottom, rgba(227,227,229,1) 0%,rgba(239,239,239,1) 7%,rgba(244,245,247,1) 100%);
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #303233;
    border-top: transparent;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, .1);
    text-align: center;
    
    * {
      box-shadow: border-box;
    }
    
    &-active {
      opacity: 1;
      max-height: 150px;
      padding: 15px;
    }
    
    &-full {
      
      > div {
        width: 33% !important;
      }
    }
    
    > div {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      text-align: center;
      width: 50%;
      max-width: 75px;
      
      .display {
        color: #303233;
        font-size: 30px;
        font-weight: 100;
        line-height: 35px;
        margin: 0px;
        text-transform: uppercase;
        user-select: none;
      }
      
      .timepicker__button {
        margin: 15px auto;
        padding: 0px;
        background: #fff;
        cursor: pointer;
        background: transparent;
        border: solid 5px transparent;
        
        &__up > div {
          width: 0px;
          height: 0px;
          margin: auto;
          border-left: solid 5px transparent;
          border-right: solid 5px transparent;
          border-bottom: solid 5px #303233;
        }
        
        &__down > div {
          width: 0px;
          height: 0px;
          margin: auto;
          border-left: solid 5px transparent;
          border-right: solid 5px transparent;
          border-top: solid 5px #303233;
        }
      }
    }
  }
  
  