.qubely-block-modal-link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.qubely-block-modal-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.qubely-block-modal-popup {
    border: 2px dashed #fff;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 30px;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qubely-block-modal-popup-content {
    position: absolute;
    bottom: 100%;
    font-size: 10px;
    left: 0;
    line-height: 20px;
    display: inline-block;
}
.qubely-block-modal-box {
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.qubely-block-modal-close-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
    z-index: 11;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #444;
    -webkit-appearance: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
}
.qubely-block-modal-title {
    margin: 10px 0px;
    font-size: 2rem;
}
.qubely-modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    &.display-none {
        display: none;
    }
}
.qubely-modal-box {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    position: relative;
    width: 100%;
    max-width: 600px;
}