.qubely-block-form {
  .qubely-form {
    &.is-small {
      .qubely-form-field {
        padding: 6px 8px;
      }
    }
    &.is-medium {
      .qubely-form-field {
        padding: 8.5px 12px;
      }
    }
    &.is-large {
      .qubely-form-field {
        padding: 14.5px 16px;
      }
    }

     .editor-inner-blocks.block-editor-inner-blocks {
      > .editor-block-list__layout.block-editor-block-list__layout {
        > div:last-child {
          display: none;
        }
        // .editor-block-list__block-edit.block-editor-block-list__block-edit {
        //   margin-top: 15px;
        //   margin-bottom: 15px;
        // }
      }
    }
  }

  .qubely-form-add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    .qubely-action-add-form-field {
      background: #ffffff;
      color: #2184f9;
      border: 1px dashed #2184f9;
      border-radius: 4px;
      padding: 5px 35px;
      .qubely-action-add-form-item {
        font-size: 16px;
        i {
          padding: 0px 5px;
        }
      }
    }
    .qubely-action-add-form-field:hover {
      cursor: pointer;
      background: rgba(33, 132, 249, 0.1);
      color: #2184f9;
      border-radius: 5px;
    }
  }
}

.qubely-form-field-picker {
  .qubely-form-field-types {
    background: #f7f8fc;
    box-shadow: 0 22px 54px -15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .qubely-form-field-tabs {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 5px 0px;
      .qubely-form-field-tab {
        padding: 5px 30px;
        width: 45%;
        &.qubely-active {
          color: #fff;
          background-color: #1066cc;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .qubely-form-field-type {
      background: #ffffff;
      border: 1px solid #d6d9dd;
      border-radius: 4px;
      padding: 5px 15px;
      width: 45%;
      display: flex;
      align-items: center;
      margin: 5px 0px;
    }
    & :hover {
      cursor: pointer;
    }
  }
  .qubely-form-column-options {
    display: flex;
    .qubely-form-column-option {
      padding: 5px 20px;
    }
  }
}

//form wrapper
.qubely-form-field-wrapper {
    .qubely-form-field-label {
        margin-bottom: 5px;
    }
}

//check box
.qubely-form-field-checkbox-option {
    margin-bottom: 5px;
    .qubely-checkbox-option {
        color: #535F6A;
        text-transform: capitalize;
    }
    input[type=checkbox] {
        margin-top: 3px;
        border: 1px solid #8D96A0;
    }
    &::last-child {
        margin-bottom: 0;
    }
}
.qubely-form-checkbox {
    margin-bottom: 5px;
    .qubely-form-field-checkbox-option {
        color: #535F6A;
        text-transform: capitalize;
    }
    input[type=checkbox] {
        margin-top: 2px;
        border: 1px solid #8D96A0;
        margin-right: 8px;
    }
    &::last-child {
        margin-bottom: 0;
    }
}


// dropdown
.qubely-form-radio {
    .qubely-form-field-radio-option {
        margin-bottom: 5px;
        color: #535F6A;
        text-transform: capitalize;
        &:last-child {
            margin-bottom: 0;
        }
    }
    input[type=radio] {
        margin-top: 0;
        margin-right: 8px;
    }
}
