.qubely-block-form {
  .qubely-form {
    &.is-small {
      .qubely-form-field {
        padding: 6px 8px;
      }
    }
    &.is-medium {
      .qubely-form-field {
        padding: 8.5px 12px;
      }
    }
    &.is-large {
      .qubely-form-field {
        padding: 14.5px 16px;
      }
    }

    .editor-inner-blocks.block-editor-inner-blocks {
      > .editor-block-list__layout.block-editor-block-list__layout {
        > div:last-child {
          display: none;
        }
        // .editor-block-list__block-edit.block-editor-block-list__block-edit {
        //   margin-top: 15px;
        //   margin-bottom: 15px;
        // }
      }
    }
  }

  .qubely-form-add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    .qubely-action-add-form-field {
      background: #ffffff;
      color: #2184f9;
      border: 1px dashed #2184f9;
      border-radius: 4px;
      padding: 5px 35px;
      .qubely-action-add-form-item {
        font-size: 16px;
        i {
          padding: 0px 5px;
        }
      }
    }
    .qubely-action-add-form-field:hover {
      cursor: pointer;
      background: rgba(33, 132, 249, 0.1);
      color: #2184f9;
      border-radius: 5px;
    }
  }
}

.qubely-form-field-picker {
  .qubely-form-field-types {
    background: #fff;
    box-shadow: 0 22px 54px -15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .qubely-form-field-tabs {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 5px 0px;
      .qubely-form-field-tab {
        width: 95%;
        text-align: center;
        background: #ffffff;
        border: 1px solid #d6d9dd;
        border-radius: 4px;
        padding: 5px 30px;
        display: flex;
        align-items: center;
        margin: 7px 0px;
        display: flex;
        justify-content: center;
        &.qubely-active {
          color: #fff;
          background-color: #1066cc;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    .qubely-form-field-type {
        background: #f8f8f8;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        padding: 5px 15px;
        width: 45%;
        display: flex;
        align-items: center;
        margin: 5px 0px;
        transition: 400ms;
        justify-content: center;
        &:hover {
            background: #e5e5e5;
        }
    }
    & :hover {
      cursor: pointer;
    }
  }
  .qubely-form-column-options {
    width: 100%;
    .qubely-form-column-option {
      width: 25%;
      cursor: pointer;
      width: 26%;
      background: transparent;
      border: none;
      height: 50px;
      margin: 7px !important;
      display: inline-flex;
      padding: 0 !important;
      outline: 1px solid transparent;
      transition: 300ms;
      opacity: 1;
      padding: 5px 20px;
      i {
        height: 50px;
        background: #e2e6ec;
        border: 1px solid #e2e6ec;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        transition: 300ms;
        font-style: normal;
      }
      i:not(:last-of-type) {
        margin-right: 2px;
      }
    }
  }
}

.qubely-form-field-wrapper {
  .qubely-form-field-label {
    margin-bottom: 5px;
  }
}

//check box
.qubely-form-field-checkbox-option {
  margin-bottom: 5px;
  .qubely-checkbox-option {
    color: #535f6a;
    text-transform: capitalize;
  }
  input[type="checkbox"] {
    margin-top: 3px;
    border: 1px solid #8d96a0;
  }
  &::last-child {
    margin-bottom: 0;
  }
}
.qubely-form-checkbox {
  margin-bottom: 5px;
  .qubely-form-field-checkbox-option {
    color: #535f6a;
    text-transform: capitalize;
  }
  input[type="checkbox"] {
    margin-top: 2px;
    border: 1px solid #8d96a0;
    margin-right: 8px;
  }
  &::last-child {
    margin-bottom: 0;
  }
}

// dropdown
.qubely-form-radio {
  .qubely-form-field-radio-option {
    margin-bottom: 5px;
    color: #535f6a;
    text-transform: capitalize;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input[type="radio"] {
    margin-top: 0;
    margin-right: 8px;
  }
}

//form field
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-text"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-email"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-number"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-radio"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-time"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-date"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-textarea"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-dropdown"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/formfield-checkbox"] > .block-editor-block-list__block-edit:before {
    outline: 1px dashed #9e9e9e;
    border-color: transparent;
    border: none;
    box-shadow: -2px 0 0 0 #9e9e9e;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-checkbox"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-email"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-number"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-radio"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-date"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-time"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-textarea"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-dropdown"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-text"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar{
    top: 14px;
    left: 16px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-text"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-email"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-number"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-radio"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-time"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-date"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-textarea"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-dropdown"] > .editor-block-list__insertion-point,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/formfield-checkbox"] > .editor-block-list__insertion-point {
    display: none;
}

//form column
[data-type="qubely/form-row"]:hover .block-editor-block-list__block[data-type="qubely/form-column"] > .block-editor-block-list__block-edit:before {
    outline: 1px dashed #2184F9;
    border-color: transparent;
    border: none;
    box-shadow: -2px 0 0 0 #2184F9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

// .block-editor-block-list__block[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > div:last-child {
//     border: 10px solid transparent;
// }

// .block-editor-block-list__block.is-selected[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > div:last-child {
//     border: 10px solid rgba(33, 132, 249, 0.1);
// }
.block-editor-block-list__block[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > div:last-child {
    border: 5px solid transparent;
}

.block-editor-block-list__block.is-selected[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > div:last-child {
    border: 5px solid rgba(33, 132, 249, 0.1);
}
// [data-type="qubely/form-row"]:hover .block-editor-block-list__block[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > div:last-child {
//     border: 10px solid rgba(33, 132, 249, 0.1);
// }

.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-column"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar{
    top: 14px;
    left: 16px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-column"] > .editor-block-list__insertion-point {
    display: none;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] .block-editor-block-list__block-edit {
    margin: 0;
}

//form row
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/form-row"] > .block-editor-block-list__block-edit:before,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"]:hover > .block-editor-block-list__block-edit:before {
    outline: 1px dashed green;
    border-color: transparent;
    border: none;
    box-shadow: -2px 0 0 0 green;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] > .block-editor-block-list__block-edit > div:last-child {
    border: 14px solid transparent;
}
.block-editor-block-list__layout .block-editor-block-list__block.is-selected[data-type="qubely/form-row"] > .block-editor-block-list__block-edit > div:last-child {
    border: 14px solid rgba(76, 175, 80, 0.1);
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] > .block-editor-block-list__block-edit > .block-editor-block-contextual-toolbar .block-editor-block-toolbar{
    top: 14px;
    left: 16px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] > .block-editor-block-list__block-edit .block-editor-block-mover {
    left: -30px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] > .block-editor-block-list__block-edit [data-block] {
    margin-top: 0;
    margin-bottom: 0;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="qubely/form-row"] > .editor-block-list__insertion-point {
    display: none;
}

//others
.qubely-block-form  {
    .block-editor-inner-blocks {
        [data-type="qubely/form-row"] {
            padding: 0;
        }
    }
}
.qubely-form-field-wrapper {
    .qubely-form-label {
        vertical-align: baseline;
    }
}