/**
 * Table cell generator
 */

.qubely-tcg-container {
  background: #ffffff;
  &:not(.qubely-tcg-toolbar) {
    padding: 30px 30px 20px;
  }
  .qubely-tcg-row {
    display: flex;
    span {
      flex-grow: 1;
      background: #f2f3f7;
      border: 1px solid #ced6e0;
      border-radius: 3px;
      margin: 2.5px;
      min-height: 30px;
      font-size: 12px;
      text-align: center;
      line-height: 28px;
      &:hover,
      &.active {
        background: #d2e7ff;
        border-color: #a9d0ff;
      }
    }
  }
  .qubely-tcg-info {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}

table {
  td {
    border: 1px solid #ddd;
    &.is-qubely-active {
      border-color: red;
    }
  }

  .qubely-block-table_cell-content {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        .qubely-list-item {
          display: flex;
        }
      }
    }
  }
}

/**
 * Editor css
 */

.qubely-table-cell-edit {
  position: relative;
  padding: 0px;
  .qubely-tc-type-changer-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 2;
    > button {
      padding: 0px;
      border: 1px solid #d6d9dd;
      width: 13px;
      text-align: center;
      color: #9b9b9b;
      span {
        font-size: 8px;
        line-height: 10px;
        display: block;
      }
    }
    .qubely-tc-type-changer {
      position: absolute;
      left: 0;
      top: 100%;
      background: white;
      width: 370px;
      display: grid;
      grid-template-columns: calc(50% - 10px) 50%;
      padding: 20px;
      border: 1px solid #dbdfe4;
      grid-gap: 10px;
      button {
        height: 48px;
        line-height: 46px;
        padding: 0 12px;
        border: 1px solid #ced6e0;
        background: #f2f3f7;
        border-radius: 4px;
        text-align: left;
        color: #535f6a;
        i {
          margin-right: 10px;
          font-size: 20px;
          line-height: 48px;
        }
        &:hover {
          background: #d2e7ff;
          border-color: #a9d0ff;
          color: #2184f9;
        }
      }
    }
  }
}

.table-ratings {
  cursor: pointer;
  unicode-bidi: bidi-override;
  display: inline-block;
  position: relative;
  letter-spacing: 5px;
  &:before,
  &:after {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 400;
    display: block;
    white-space: nowrap;
    z-index: 0;
  }

  &:before {
    position: absolute;
    z-index: 1;
    left: 0px;
    overflow: hidden;
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    content: "\f005\f005\f005\f005\f005";
    width: var(--qubely-rating);
  }
}
.qubely-table-ratings-popover {
  .components-popover__content {
    padding: 20px;
    min-width: 280px;
    border-radius: 5px;
  }
}
