/**
 * Table cell generator
 */

.qubely-tcg-container{
  background: #ffffff;
  &:not(.qubely-tcg-toolbar){
    padding: 30px 30px 20px;
  }
  .qubely-tcg-row{
    display: flex;
    span{
      flex-grow: 1;
      background: #F2F3F7;
      border: 1px solid #CED6E0;
      border-radius: 3px;
      margin: 2.5px;
      min-height: 30px;
      font-size: 12px;
      text-align: center;
      line-height: 28px;
      &:hover,
      &.active{
        background: #D2E7FF;
        border-color: #A9D0FF;
      }
    }
  }
  .qubely-tcg-info {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}

table {
  td{
    border: 1px solid #ddd;
    &.is-qubely-active{
      border-color: red;
    }
  }
}

.qubely-block-table_cell-content {
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/**
 * Editor css
 */

.qubely-table-cell-edit{
  position: relative;
  .qubely-tc-type-changer-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 2;
    > button{
      padding: 0px;
      border: 1px solid #D6D9DD;
      width: 13px;
      text-align: center;
      color: #9B9B9B;
      span{
        font-size: 8px;
        line-height: 10px;
        display: block;
      }
    }
    .qubely-tc-type-changer{
      position: absolute;
      left: 0;
      top: 100%;
      background: white;
      width: 370px;
      display: grid;
      grid-template-columns: calc(50% - 10px) 50%;
      padding: 20px;
      border: 1px solid #DBDFE4;
      grid-gap: 10px;
      button{
        height: 48px;
        line-height: 46px;
        padding: 0 12px;
        border: 1px solid #CED6E0;
        background: #F2F3F7;
        border-radius: 4px;
        text-align: left;
        color: #535F6A;
        i{
          margin-right: 10px;
          font-size: 20px;
          line-height: 48px;
        }
        &:hover{
          background: #D2E7FF;
          border-color: #A9D0FF;
          color: #2184F9;
        }
      }
    }
  }
}