.qubely-countdown{
  display: flex;
  flex-wrap: wrap;
  .qubely-countdown-item{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    h5,
    p{
      margin: 0;
    }
  }
}

.qubely-countdown-label-control-text{
  display: flex;
  ailgn-items: center;
  .qubely-coutdown-label-right{
    flex-grow: 1;
  }
  .qubely-coutdown-label-left{
    .components-base-control,
    .components-base-control__field{
      margin-bottom: 0;
    }
  }
}
