.qubely-instagramfeed-row {
    display: inline-block;

    .qubely-instagram-profile-bio-container {
        display: inline-block;
        width: 100%;
        position: relative;
        margin-bottom: 100px;
        .qubely-instagram-profile-image {
            width: 30%;
            float: left;
            text-align: center;
            .instagram-profile-image {
                border-radius: 50%;
            }
        }
        .qubely-instagram-profile-bio-info {
            width: 70%;
            display: inline-block;

            .qubely-instagram-bio {
                a.qubely-follow {
                    display: inline-block;
                    margin-right: 40px;
                    text-decoration: none;
                    line-height: 28px;
                    .qubely-instagram-follow {
                        border: 1px solid transparent;
                        background-color: #3897f0;
                        box-sizing: border-box;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: 600;
                        padding: 6px 20px;
                        text-align: center;
                        text-transform: inherit;
                        width: auto;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
                .qubely-instagram-username {
                    font-size: 28px;
                    line-height: 32px;
                    margin: 0;
                    font-weight: 300;
                    color: #262626;
                }
                .qubely-instagram-username:before {
                    display: none;
                }
            }
            .qubely-instagram-notifications{
                padding: 0;
                margin: 12px 0;
                li {
                    display: inline-block;
                    font-size: 16px;
                    margin-right: 40px;
                    font-family: 'Roboto',sans-serif;
                    font-weight: 400;
                    span.qubely-post-number {
                        font-weight: 700;
                    }
                    a.qubely-followers {
                        text-decoration: none;
                    }
                }
            } 
            .qubely-instagram-profile-name {
                span {
                    display: block;
                    font-size: 16px;
                    font-family: 'Roboto',sans-serif;
                }
                span.profile-name {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            
            
        }
    }
    .qubely-instagram-profile-bio-container:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #efefef;
        bottom: -50px;
        position: absolute;
        left: 0;
    }

    







    
    .qubely-instagram-image {
        float: left;
        line-height: 0;
    }
    .qubely-col-2 {
        width: 50%;
    }
    .qubely-col-3 {
        width: 33.33%;
    }
    .qubely-col-4 {
        width: 25%;
    }

    .qubely-instagram-image {
        .qubely-instagram-image-wrap {
            position: relative;
            overflow: hidden;
            img {
                transition: .3s;
            }
        }
        .qubely-post-img-zoom-out {
            img {
                transition: transform 0.35s;
                transform: scale(1.2);
            }
        }
        .qubely-post-img-zoom-in {
            img {
            transition: transform 0.35s;
            transform: scale(1);
            }
        }
        .qubely-post-img-slide-bottom {
            img {
            transition: transform 0.35s;
            transform: translate3d(0, 20px, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-top {
            img {
            transition: transform 0.35s;
            transform: translate3d(0, -20px, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-right {
            img {
            transition: transform 0.35s;
            transform: translate3d(20px, 0, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-left {
            img {
            transition: transform 0.35s;
            transform: translate3d(-20px, 0, 0) scale3d(1.2, 1.2, 1);
            }
        }
    }
    .qubely-instagram-image.equal-images {
        .qubely-instagram-image-wrap {
            height: 330px;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    .qubely-instagram-image:hover{
        .qubely-image-overlay {
            background: rgba(0, 0, 0, 0.30);
            opacity: 1;
        }
        .qubely-post-img-zoom-out {
            img {
                transform: scale(1);
            }
        }
        .qubely-post-img-zoom-in {
            img {
                transform: scale(1.2);
            }
        }
        .qubely-post-img-slide-bottom {
            img {
                transform: translate3d(0, 0px, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-top {
            img {
                transform: translate3d(0, 0px, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-right {
            img {
                transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1);
            }
        }
        .qubely-post-img-slide-left {
            img {
                transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1);
            }
        }
    }
    .qubely-image-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        transition: .3s;
        opacity: 0;
        color: #fff;
        ul{
            text-align: center;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            width: 100%;
            left: 50%;
            padding: 0 46px;
            margin: 0;
            li.qubely-listing {
                display: inline-block;
                padding: 0 12px;
                line-height: 20px;
                span.qubely-count {
                    line-height: 20px;
                    padding: 0 5px;
                    font-weight: 700;
                    vertical-align: top;
                }
                
            } 
            li.qubely-caption {
                line-height: 20px;
                margin-top: 15px;
                display: block;
                p.caption-title {
                    line-height: 20px;
                    margin: 0;
                }  
            }
            
            
        }
    }
} 

