.qubely-woo_products_wrapper {
  &.qubely_list_layout {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  &.qubely_grid_layout {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    &.qubely_2columns .qubely-woo_product {
      -webkit-box-flex: 1;
      flex: 1 0 50%;
      max-width: 50%;
    }
    &.qubely_3columns .qubely-woo_product {
      -webkit-box-flex: 1;
      flex: 1 0 33.33333%;
      max-width: 33.33333%;
    }
    &.qubely_4columns .qubely-woo_product {
      -webkit-box-flex: 1;
      flex: 1 0 25%;
      max-width: 25%;
    }
  }
  .qubely-woo_product {
    .qubely-product-price {
      div {
        display: inline-block;
        padding: 0px 10px;
      }
    }
    .qubely-addtocart-wrapper {
      text-align: center;
      .qubely_aaddtocart_button {
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
      }
    }
    .qubely-woo_product-image-wrapper {
      display: block;
      overflow: hidden;
      position: relative;
      z-index: 0;
      transition: box-shadow 0.35s;
      img {
        display: inline-block;
        -webkit-transition: ease-in 300ms;
        transition: ease-in 300ms;
        object-fit: cover;
      }
      .qubely-image-placeholder {
        min-height: 200px;
        min-width: 200px;
      }
    }
  }

}
